# Add any directories, files, or patterns you don't want to be tracked by version control
.git
packages
.vs
mcknaldi/bin/roslyn/Microsoft.CodeAnalysis.CSharp.dll
mcknaldi/bin/roslyn/Microsoft.CodeAnalysis.dll
mcknaldi/bin/roslyn/Microsoft.CodeAnalysis.VisualBasic.dll
mcknaldi/bin/roslyn/Microsoft.DiaSymReader.Native.amd64.dll
mcknaldi/bin/roslyn/System.Collections.Immutable.dll
mcknaldi/bin/roslyn/System.Diagnostics.FileVersionInfo.dll
mcknaldi/bin/roslyn/System.IO.FileSystem.dll
mcknaldi/bin/roslyn/System.IO.FileSystem.Primitives.dll
mcknaldi/bin/roslyn/System.Reflection.Metadata.dll
mcknaldi/bin/roslyn/System.Security.Cryptography.Primitives.dll
mcknaldi/bin/roslyn/VBCSCompiler.exe
mcknaldi/App_Data/aspnet-mcknaldi-20180529012852.mdf
mcknaldi/App_Data/aspnet-mcknaldi-20180529012852_log.ldf
